<div ng-controller="codeGroupController" ng-init="init()">
	<form>
		<!-- search-form -->
		<div class="search_form_tbl" style="margin-bottom: 40px;">
			<div class="col_tbl">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-2 control-label">그룹코드</label>
						<div class="col-xs-4">
							<input type="text" class="form-control"
							ng-model="searchHandler.codeGroup.id">
						</div>
						<label class="col-xs-2 control-label">그룹코드명</label>
						<div class="col-xs-4">
							<input type="text" class="form-control"
							ng-model="searchHandler.codeGroup.name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">코드사용여부</label>
						<div class="col-xs-10 icheck_custom">
							<label for="exact_marches" class="radio-inline"> 
								<input class="minimal" type="radio" name="marches" ng-model="searchHandler.codeGroup.useYn" value="">전체
							</label> 
							<label for="similar_matches" class="radio-inline"> 
								<input class="minimal" type="radio" name="marches" ng-model="searchHandler.codeGroup.useYn" value="Y">사용
							</label>
							<label for="similar_matches" class="radio-inline"> 
								<input class="minimal" type="radio" name="marches" ng-model="searchHandler.codeGroup.useYn" value="N">미사용
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col_tbl">
				<button type="submit" class="btn btn_brand"
				ng-click="searchHandler.search()">Search</button>
			</div>
		</div>
	</form>
	
	<div class="row toolbar" style="padding-bottom: 10px;">
		<div class="col-xs-3">
			<p class="form-control-static">
				All <strong class="num">{{ pageHandler.getTotal() | number }}</strong>
			</p>
		</div>
		<div class="col-xs-9 form-inline text-right">
			<button type="button" class="btn btn_dark" data-toggle="modal" data-target="#code-group-create-popup">
				<i class="fa fa-plus"></i>
				New
			</button>
			<button type="button" class="btn btn-default" ng-click="onClickDelete()">Delete</button>
			<div class="form-group">
				<select class="form-control picker" 
					ng-options="code.id as code.name for code in rowSizeCodeList"
					ng-model="pageHandler.numberOfRows" ng-change="reload()"></select>
			</div>
		</div>
	</div>
	<table class="list_tbl panel_g">
		<thead>
			<tr>
				<th class="th_check sorting_disabled" style="width: 39.5px;">
					<input type="checkbox" ng-model="modelHandler.checkedAll"
			 		 ng-change="modelHandler.selectAll(modelHandler.checkedAll)"/>
				</th>
				<th>그룹코드</th>
				<th>그룹코드명</th>
				<th>사용여부</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in modelHandler.getItems()">
				<td class="th_check">
					<input type="checkbox" checklist-model="modelHandler.selectedIdList"
			 		 checklist-value="item.codeGroup" ng-change="modelHandler.select(item)"/>
			 	</td>
				<td class="text-center"><a class="pointer" ng-click="onClickDetailLink(item)"><b>{{item.codeGroup}}</b></a></td>
				<td class="text-center"><a class="pointer" ng-click="onClickDetailLink(item)"><b>{{item.name}}</b></a></td>
				<td class="text-center"><a class="pointer" ng-click="onClickDetailLink(item)">{{item.useYn}}</a></td>
			</tr>
		</tbody>
	</table>
	<nav class="text-center">
		<ul class="pagination">
			<li ng-class="pageHandler.isPrevDisabled()?'disabled':'pointer'" >
				<a aria-label="Previous" ng-click="pageHandler.prev()"> 
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
				</a>
			</li>
			<li ng-repeat="page in pageHandler.getPages()"
				ng-class="(pageHandler.getCurrentPage() == page) ? 'active':'pointer'">
				<a ng-click="pageHandler.setCurrentPage(page, true)">{{page}}</a>
			</li>
			<li ng-class="pageHandler.isNextDisabled()? 'disabled' : 'pointer'">
				<a aria-label="Next" ng-click="pageHandler.next()"> 
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav>
	<div ng-include="'./views/code/code-group-create-popup.html'"></div>
	<div ng-include="'./views/code/code-group-edit-popup.html'"></div>
</div>