 <div class="container">
    <div class="col-left col-xs-3">
      <div ng-include="'./views/admin/left.html'"></div>
    </div>
    <!-- col-left -->
    <div class="col-right col-xs-9">
        <!-- page-title -->
        <div class="content_top">
            <h1 class="title_page">
                <a href="#" class="active">코드 관리</a>
                <!-- <a href="#">Annotation</a> -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#!/home">Home</a></li>
                <li><a href="#!/code">코드 관리</a></li>
                <li class="active">그룹 관리</li>
            </ol>
        </div>
        <!-- /page-title -->
        <div>
        	<!-- Tab panel -->
         	<div role="tabpanel">
             <!-- Nav tabs -->
	             <ul class="nav nav-tabs">
	                 <li class="active"><a class="pointer" data-target="#tabCodeGroupManage" data-toggle="tab">그룹코드관리</a></li>
	                 <li class=""><a class="pointer" data-target="#tabCodeManage" data-toggle="tab">코드관리</a></li>
	             </ul>
	             <!-- Tab panes -->
	             <div class="tab-content">
					<div class="tab-pane active" id="tabCodeGroupManage">
						<div ng-controller="codeGroupController"
							ng-include="'./views/code/code-group-list.html'"></div>
					</div>
					<div class="tab-pane" id="tabCodeManage">
						<div ng-controller="codeController"
							ng-include="'./views/code/list.html'"></div>
					</div>
				</div>
           	</div>
	    </div>
	</div>
	
	<div ng-include="'./views/code/code-group-list-popup.html'"></div>
</div>
