<script>
	$("#findUserPasswordForm").parsley();
</script>

<div class="modal fade" id="user-findPassword-popup">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal-header -->
            <div class="modal-header">
                <h4 class="modal-title">개인정보</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- Modal-body -->
            <form class="form-horizontal" id="findUserPasswordForm"
            ng-submit="modelForm.update()"  data-validate="parsley">
           		<div class="modal-body">
	            	<table class="data_tbl">
						<colgroup>
							<col style="width: 30%;">
							<col style="width: 70%;">
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">현재 비밀번호</th>
								<td>
									<input type="password" id="userPw" name="userPw" ng-model="modelForm.model.presentPw"
									class="form-control" 
									placeholder="문자, 숫자, 특수문자 조합으로 최소 6자리에서 최대 12자로 지정"
									data-parsley-minlength="6"
									data-parsley-maxlength="12"
									data-parsley-priority-enabled="false"
									data-parsley-remote="{{ pwCheckUrl }}"
									required/>
								</td>
							</tr>
							<tr>
								<th scope="row">비밀번호</th>
								<td>
									<input type="password" id="pw1" name="pw1" ng-model="modelForm.model.pw1"
									class="form-control" 
									placeholder="문자, 숫자, 특수문자 조합으로 최소 6자리에서 최대 12자로 지정"
									data-parsley-minlength="6"
									data-parsley-maxlength="12"
									required/>
								</td>
							</tr>
							<tr>
								<th scope="row">비밀번호 확인</th>
								<td>
									<input type="password" id="pw2" name="pw2" ng-model="modelForm.model.pw2"
									class="form-control" 
									placeholder="문자, 숫자, 특수문자 조합으로 최소 6자리에서 최대 12자로 지정"
									data-parsley-minlength="6"
									data-parsley-maxlength="12"
									data-parsley-equalto="#pw1"
									required/>
								</td>
							</tr>
						</tbody>
					</table>
	            </div>
	            <!-- Modal-footer -->
	            <div class="modal-footer">
	                <button type="submit" class="btn btn_brand">Password modify</button>
	                <button type="button" class="btn btn-default" ng-click="modelForm.reset()">Initialization</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	            </div>
            </form>
        </div>
    </div>
</div>
