<div class="lnb_wrap">
    <div class="lnb_header">
        <h3>Administrator</h3>
    </div>
    <div class="lnb_body">
        <ul>
            <li ng-class="{ active: isActive('/user') }"><a href="#!/user">사용자 관리</a></li>
            <li ng-class="{ active: isActive('/code') }"><a href="#!/code">코드 관리</a></li>
<!--             <li ng-class="{ active: isActive('/menu') }"><a href="#!/menu">메뉴 관리</a></li> -->
            <li ng-class="{ active: isActive('/taxonomy') }"><a href="#!/taxonomy">NCBI 분류정보</a></li>
            <li ng-class="{ active: isActive('/access') }"><a href="http://gdkm.wikim.re.kr/access-status/" target="_blank">시스템 접속 관리</a></li>
        </ul>
    </div>
</div>