<div class="search_form_tbl" style="margin-bottom: 40px;">
    <div class="col_tbl">
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-12 input-group addon_custom">
					<label class="col-xs-2 control-label">기간 선택</label>
			        <div class="col-xs-10 input-group addon_custom">
	                    <select class="form-control picker">
	                        <option value="All">All</option>
	                        <option value="2017">2017</option>
	                        <option value="2017">2018</option>
	                    </select>
	                    <div class="input-group-addon">~</div>
	                    <select class="form-control picker">
	                        <option value="All">All</option>
	                        <option value="2017">2017</option>
	                        <option value="2017">2018</option>
	                    </select>
	                </div>
		        </div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="col_tbl">
		<button type="submit" class="btn btn_brand">검색</button>
	</div>
</div>
<img alt="" src="./images/capture/system-access.JPG">