<div class="modal fade overflow-y" id="ngs-data-file-popup" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- modal-header -->
			<div class="modal-header">
				<h3 class="modal-title">
					Details of {{ dataLabel }} file
<!-- 					<button type="button" class="btn-link"><span class="fa fa-print"></span></button> -->
				</h3>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			</div>
			<!-- /modal-header -->

			<!-- modal-body -->
			<div class="modal-body">
				<form ng-include="'./views/integrated-views/ngs-data-file-detail.html'"></form>
			</div>
			<!-- /modal-body -->

			<!-- modal-footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- /modal-footer -->

		</div>
	</div>
</div>
