
	<div class="modal fade overflow-y" id="processed-data-file-detail-popup">
	    <div class="modal-dialog modal-lg"><!-- size options: modal-sm, defaul(미선택시), modal-lg -->
	        <div class="modal-content">
	            <!-- Modal-header -->
	            <div class="modal-header">
	                <h3 class="modal-title">Details of annotation file</h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                	<span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <!-- modal-body -->
	            <div class="modal-body">
					<div ng-show="annotationDataFileModel.format=='fasta'">
						<div ng-include="'./views/integrated-views/processed-data-detail-fasta.html'"></div>
					</div>
					<div ng-show="annotationDataFileModel.format=='gff'">
						<div ng-include="'./views/integrated-views/processed-data-detail-gff.html'"></div>
					</div>
					<div ng-show="annotationDataFileModel.format=='gbk'">
						<div ng-include="'./views/integrated-views/processed-data-detail-gbk.html'"></div>
					</div>
					<div ng-show="annotationDataFileModel.format=='bam'">
						<div ng-include="'./views/integrated-views/processed-data-detail-bam.html'"></div>
					</div>
				</div>
	            <!-- /modal-body -->
	            <!-- Modal-footer -->
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	            </div>
	        </div>
	    </div>
    </div>
