<div class="modal fade overflow-y" id="research-modify-popup" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- modal-header -->
			<div class="modal-header">
				<h3 class="modal-title">Research modify
				</h3>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			</div>
			<!-- /modal-header -->

			<!-- modal-body -->
			<div class="modal-body">
				<div class="panel_options"><b class="label_required">* Required</b></div>
				
				<uib-accordion close-others="false">
				
					<!-- Experiment information --> 
					<div uib-accordion-group class="panel panel_basic" is-open="true">
						<uib-accordion-heading>Submitter and abstract information</uib-accordion-heading>
						<div class="panel-collapse collapse in">
							<div class="panel-accordion" style="padding-top: 0px;">
								<div class="form-horizontal">
									<div class="form-group">
										<label class="col-xs-3 control-label required">Research ID</label>
										<div class="col-xs-9 control-label">{{ model.registNo }}</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label required">Title</label>
										<div class="col-xs-9">
											<textarea class="form-control" style="resize: vertical;" 
											 cols="30" rows="3" ng-model="model.title"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label required">Journal</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" ng-model="model.journal" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">Volume, Issue, Pages</label>
										<div class="col-xs-9">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="model.volume" placeholder="Volume" />
												<span class="input-group-btn">Vol.</span>
												<input type="text" class="form-control" ng-model="model.issue" placeholder="Issue" />
												<span class="input-group-btn">Issue.</span>
												<input type="text" class="form-control" ng-model="model.pages" placeholder="Pages" />
												<span class="input-group-btn">Pages.</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">Published</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" ng-model="model.published" placeholder="Year or date" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label required">Submitter</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" ng-model="model.submitter" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label required">Submit organization</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" ng-model="model.submitOrgan" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">Full text link</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" ng-model="model.fullTextLink" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-xs-12 control-label required">Abstract</label>
										<div class="col-xs-12">
											<textarea class="form-control" style="resize: vertical;" 
											 cols="30" rows="30" ng-model="model.content"></textarea>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
				</uib-accordion>
			</div>
			<!-- /modal-body -->

			<!-- modal-footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="moveToDetail()">Cancel</button>				
				<button type="button" class="btn btn-default" ng-click="reset()">Initialization</button>
				<button type="button" class="btn btn_brand" ng-click="submit()">Research modify</button>
			</div>
			<!-- /modal-footer -->

		</div>
	</div>
</div>
