<!-- list-toolbar -->
<div class="col-xs-3">
	<p class="form-control-static">
		All <strong class="num">17</strong>
	</p>
</div>
<div class="col-xs-9 form-inline">
	<button type="button" class="btn btn_secondary" data-toggle="modal"
			data-target="#annotation-data-create-popup"><i class="fa fa-plus"></i> New</button>
	<div class="btn-group">
		<button type="button" class="btn btn-default">File verification</button>
		<button type="button" class="btn btn-default">Submission</button>
		<button type="button" class="btn btn-default">Open</button>
	</div>
	<button type="button" class="btn btn-default" ng-hide="true">Download</button>
	<div class="form-group">
		<select class="form-control picker">
			<option value="All">All</option>
			<option label="open">Open</option>
			<option value="option1">Close</option>
		</select>
	</div>
	<div class="form-group">
		<select class="form-control picker">
			<option value="All">10 of each</option>
			<option value="option1">20 of each</option>
		</select>
	</div>
	<button type="button" class="btn btn-default">
		<i class="fa fa-undo"></i><span class="sr-only">Refresh</span>
	</button>
</div>