<div class="form-horizontal col_tbl">
	<!-- search-form -->
	<div class="form-group">
		<label class="col-xs-3 control-label">Accept Status & Date</label>
		<div class="col-xs-3" style="float: left;">
			<select class="form-control picker">
				<option value="All">All</option>
				<option value="accept">Accepting Submission</option>
				<option value="reject">Rejecting Submission</option>
			</select>
		</div>
		<div class="col-xs-6 input-daterange">
			<div class="input-group" moment-picker="fromDate" format="YYYY-MM-DD" start-view="month">
				<input class="form-control"
					placeholder="Select a date"
					ng-model="fromDate"
					ng-model-options="{ updateOn: 'blur' }" />
				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
			</div>
			<div class="dash">-</div>
			<div class="input-group" moment-picker="toDate" format="YYYY-MM-DD" start-view="month">
				<input class="form-control"
					placeholder="Select a date"
					ng-model="toDate"
					ng-model-options="{ updateOn: 'blur' }" />
				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-xs-offset-3 col-xs-3" style="float: left; margin-left: 25%;"
			ng-show="display.section=='annotation-data-review'">
			<select class="form-control picker">
				<option value="All">All</option>
				<option value="annotationId">Annotation ID</option>
				<option value="submitter">Submitter</option>
				<option value="project">Project</option>
				<option value="projectType">Project type</option>
			</select>
		</div>
		<div class="col-xs-offset-3 col-xs-3" style="float: left; margin-left: 25%;" 
			ng-show="display.section=='raw-data-review'">
			<select class="form-control picker">
				<option value="All">All</option>
				<option value="rawDataId">Raw data ID</option>
				<option value="source">Source</option>
				<option value="sampleName">Sample name</option>
				<option value="organismType">Organism type</option>
			</select>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
	</div>
</div>

<div class="col_tbl">
	<button type="submit" class="btn btn_brand">Search</button>
</div>
