<form>
	<!-- search-form -->
	<div class="search_form_tbl" style="margin-bottom: 40px;">
		<div class="col_tbl">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-12 control-label">최상위메뉴</label>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<input type="checkbox" value="시스템관리"/>  시스템관리
						<input type="checkbox" value="업무(데이터) 관리"/>  업무(데이터) 관리  
						<input type="checkbox" value="회원정보"/>  회원정보
						<input type="checkbox" value="로그인"/>  로그인
						<input type="checkbox" value="시스템(공통)"/>  시스템(공통)
						<input type="checkbox" value="개요(소개)"/>  개요(소개)
						<input type="checkbox" value="공지사항"/>  공지사항
					</div>
				</div>
			</div>
		</div>
		<div class="col_tbl">
			<button type="submit" class="btn btn_brand">검색</button>
		</div>
	</div>
</form>

<div class="row toolbar" style="padding-bottom: 10px;">
	<div class="col-xs-3">
		<p class="form-control-static">
			전체<strong class="num">17</strong>
		</p>
	</div>
	<div class="col-xs-9 form-inline text-right">
		<button type="button" class="btn btn-default">등록</button>
		<button type="button" class="btn btn-default">수정</button>
		<button type="button" class="btn btn-default">삭제</button>
	</div>
</div>

<table class="list_tbl panel_g">
	<thead>
		<tr>
			<th></th>
			<th>순번</th>
			<th>페이지명</th>
			<th>URL</th>
			<th>사용메뉴</th>
			<th>등록일시</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
